dist: trusty
sudo: false
language: python

python:
  - "3.6"

install:
  - pip install .
  - pip install coverage
  - pip install codecov

script:
  - echo "skipping tests"

deploy:
  user: $PYPI_USER
  password: $PYPI_PASSWORD
  on:
    branch: master
    python: "3.6"
  provider: pypi
  distribution: "sdist bdist_wheel"
  skip_existing: true
