dist: focal
sudo: false
language: python

python:
  - "3.9"

install:
  - pip install .
  - pip install coverage
  - pip install codecov

script:
  - pip install pytest
  - pytest -s tests/*.py

deploy:
  user: $PYPI_USER
  password: $PYPI_PASSWORD
  on:
    branch: master
    python: "3.9"
  provider: pypi
  distribution: "sdist bdist_wheel"
  skip_existing: true
